<div id="main-container" class="container">
<div class="jumbotron text-center header-wrap" align="center">
    <p class="lead">Welcome to your class roster where you can keep track of your students.</p>
    <hr class="my-4">
    <p class="lead">Start your search or add a student.</p>
    <div>
        {{#if isloggedin}}
            <button type="submit" id="search-item" class="btn">Search Student</button>
            <button type="submit" id="add-student" class="btn">Add Student</button>
            <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
        {{else}}
            <button type="submit" id="sign-in-modal" class="btn">Sign In!</button>
            <button type="submit" id="sign-up" class="btn">Sign Up!</button>
        {{/if}}
        
    </div>
</div>

    
</div>

{{> Modal/signin-block}}